@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
body{
    background: url("https://i1.faceprep.in/prograd-junior/climate-change-bg.png");
    font-family: 'Work Sans', sans-serif;
     background-size: 100% 100% ;
     text-align:center ;
}
h1{
    color: white;
    font-size: 400%;
}
.container{
    width:100vw;
    height:100vh;
    color: white;
    margin-top: 200px;

}
h2{
    font-size: 300%;
}
h3{
    font-size: 200% ;
}
hr{
    width: 10%;
}
.button-bg{
      background: transparent;
      color:white;
      border-radius: 30px;
      font-size: 120%;
      padding: 15px 20px;
      margin: 50px 50px;

}